/* *{
	background-color: #341A41;
	background-image: url('../assets/pbg.svg');
} */

.App {
	text-align: center;
}

.logo-link {
	display: flex;
	align-items: center;
	justify-content: center;
	/* center the logo horizontally */
	flex: 1;
	/* make the logo take up all available space in the navbar */
}

/* .logo-link .App-logo {
	height: 4vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.logo-link .App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
} */

.App-header {
	background-image: url('../assets/pbg.svg'); 
	background-position: center;
	background-repeat: no-repeat;
	background-size:cover;
	/* align-items: center;
	justify-content: center; */
	font-size: calc(10px + 2vmin);
	color: white;
	height: 1200px;
}

.App-header2 {
	font-size: calc(10px + 2vmin);
	color: white;
	height: 15vh;
}

/* .App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
} */

/* .navbar {
	min-height: 5vh;
	background-color: #341A41;
	padding: 10px;
	font-size: 1rem;
	display: flex;
	justify-content: end;
	center the logo horizontally
	align-items: flex-end;
	center the logo vertically
}

.navbar a {
	color: white;
	text-decoration: none;
	margin: 5px;
	display: flex;
	align-items: center;
	justify-content: center;
} */

.sign-up-button {
	display: flex;
	background-color: transparent;
	color: white;
	/* border: solid 1px rgb(41, 39, 39); */
	border-radius: 5px;
	padding: 10px 20px;
	font-size: 16px;
	cursor: pointer;
	transition: opacity 0.2s ease-in-out;
}

.sign-up-button:hover {
	background-color: rgba(255, 255, 255, 0.5);
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
	border: solid 1px rgba(255, 255, 255, 0.5);
	color: #fff;
	opacity: 0.8;
}

.landing{
	position: relative;
}

.spot{
	position: fixed; 
	bottom: 30px;
	right: 5px; 
	width: 50px;
	height: 50px;
	border: solid 1px #fff ;
	border-radius:  50%;
	background-color: #331A41;
	z-index: 1000;
	transition: background-color 1s ease, color 1s ease, box-shadow 1s ease;
	transition: border 1s ease, color 1s ease, box-shadow 1s ease;
}

.spot-visible {
	background-color: #fff;
	border: solid 0.1px #331A41 ;
	box-shadow: 0 0 10px rgba(255, 255, 255, 0.707);
}

.chat{
	position: fixed;
	bottom: 100px;
	right: 10px;
	/* left: 40px; */
	width: 300px;
	min-width: 280px;
	height: 500px;
	/* margin-left: 50px; */
	/* background-color: #fff; */
	/* border: 0.1px solid #ccc; */
	border-radius: 5px;
	/* box-shadow: 0 0 10px rgba(255, 255, 255, 0.707); */
	z-index: 1000;
	/* opacity: 0; */
  	/* Set the initial position to the left */
	/* transform: translateX(-100%); */
	/* Add a transition for opacity and transform properties */
	/* transition: opacity 0.3s ease-in, transform 0.3s ease-in; */
}

/* .chat.fade-in { */
  /* Remove the opacity property to allow fading in */
  /* opacity: 1; */
  /* Remove the transform property to reset the position */
  /* transform: translateX(0); */
/* } */


.chat-header{
	width: 100%;
}
